@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*map description*/
.text-description-container {
  font-size: 20px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  line-height: 100%;
  padding: 20px;
  /*max-width: 446.5px;*/
  width: fit-content;
  margin: 0 auto;
}

.text-description-container p {
  margin: 0;
}


/*right column container*/
.right-column-container {
  display: inline-grid;
  grid-template-columns: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
.text-description-container p{
font-size: 16px;
}
}