@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.article-card-container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 13px 12px 13px 12px; 
  background-color: #E6E7E8;
  overflow: hidden;

  width: 446.5px;
  margin: 0 auto 1.5rem auto;
  gap: 20px;
}

.article-card-image-container {
  position: relative;
  flex: 1;
  z-index: 0;
}

.article-card-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 201/134;
  border-radius: 6px;
}

/*headline + byline*/
.article-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}

/*headline*/
.article-card-content a{
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 110.00000000000001%;

    color: #165383;
    text-decoration: none; 
}

/*byline*/
.article-card-content p{
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-style: Medium;
    line-height: 110.00000000000001%;

    color: #165383;
    text-decoration: none;
}

/* HOVER */
.article-card-container:hover{
  background-color: #165383;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.article-card-container:hover .article-card-content a,
.article-card-container:hover .article-card-content p{
  color: #FFFFFF;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .article-card-container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 13px 12px 13px 12px;
  background-color: #E6E7E8;
  overflow: hidden;

  
  width: 320px; 
  margin: 0 auto 1.5rem auto;
  gap: 20px;
}
 .article-card-content a{
    font-size: 15px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 110.00000000000001%;

    color: #165383;
    text-decoration: none; 
}
 .article-card-content p{
    font-size: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-style: Medium;
    line-height: 110.00000000000001%;

    color: #165383;
    text-decoration: none;
}


}